h1
{
    color:rgb(2, 33, 118);
}
a
{
    color: red;
}
body
{
    background-color: rgb(109, 102, 91);
}
b
{
    color: yellow 
}
.b
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ul
{
    font-family: 'copperplate', sans-serif;
}